{
    "algorithm": "OPENSSL",
    "chmod": "0755",
    "compression": "GZ",
    "directories": ["src"],
    "files": ["LICENSE", "CHANGELOG.md", "README.md", "phpda.yml.dist"],
    "finder": [{
        "name": "*.php",
        "exclude": ["test", "tests"],
        "in": "vendor"
    }],
    "git-version": "package_version",
    "intercept": true,
    "key": "phar-private.pem",
    "main": "bin/phpda.php",
    "output": "download/phpda.phar",
    "stub": true
}
