<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="MamuzBlog Testsuite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
